
.slider{
    height: 250px;
    margin:auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track{
    display: flex;
    width: calc(250px * 30);
    animation: scroll 20s linear infinite;

}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
    0% {
        transform: translateX(0);
    }
}
.slide{
    height: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.slider::before,
.slider::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50px; /* Adjusted width */
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 50%);
}

.slider::before {
    left: 0;
}

.slider::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff 50%);
}
