
.slider{
    height: 250px;
    margin:auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    width: calc(250px * 18);
    animation: scroll 20s linear infinite;

}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.slide{
    height: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.slider::before,
.slider::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50px; /* Adjusted width */
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 50%);
}

.slider::before {
    left: 0;
}
.slider::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff 50%);
}

.review-card{
    display: flex;
    align-items: center;
    padding: 10px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.image-view-container {
    width: 80px; /* Adjust the width as needed */
    height: 80px; /* Adjust the height as needed */
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the shadow as needed */
    position: relative;
    margin-bottom: 10px;
}

.image-view-container img {
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Adjust the border-radius for the image */
    background-color: rgb(221, 237, 237);
    object-fit: cover;
}